extends ./base

block vars
	- const title = 'Clip';
	- const url = `${config.url}/clips/${clip.id}`;

block title
	= `${instanceName}`

block desc
	meta(name='description' content= 'Login required')

block og
	meta(property='og:type'        content='article')
	meta(property='og:title'       content= title)
	meta(property='og:url'         content= url)

block meta
	meta(name='robots' content='noindex')

