extends ./base

block vars
	- const title = 'Note'
	- const url = `${config.url}/notes/${note.id}`;

block title
	= `${instanceName}`

block desc
	meta(name='description' content='Login required')

block og
	meta(property='og:type'        content='article')
	meta(property='og:title'       content= title)
	meta(property='og:url'         content= url)

block meta
	meta(name='robots' content='noindex')
