doctype html

html

	head
		meta(charset='utf-8')
		meta(name='application-name' content='eGirlskey')
		title eGirlskey Repair Tool
		style
			include ../bios.css
		script
			include ../bios.js

	body
		header
			h1 eGirlskey Repair Tool #{version}
		main
			div.tabs
				button#ls edit local storage
			div#content
