doctype html

html

	head
		meta(charset='utf-8')
		meta(name='application-name' content='eGirlskey')
		title eGirlskey Cli
		style
			include ../cli.css
		script
			include ../cli.js

	body
		header
			h1 eGirlskey Cli #{version}
		main
			div#form
				textarea#text
				button#submit submit
			div#tl
